<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Laala-G Partner Login</ion-card-title>
        <ion-card-subtitle>Welcome Lala-G</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="ion-padding" slot="content">
          <form [formGroup]="myForm" (ngSubmit)="login()">
            <ion-input
              formControlName="username"
              labelPlacement="floating"
              type="email"
            >
              <div slot="label">
                Email
                <ion-text color="danger"> *</ion-text>
              </div>
            </ion-input>
            <br />
            <ion-input
              labelPlacement="floating"
              type="password"
              formControlName="password"
            >
              <div slot="label">
                Password
                <ion-text color="danger" required="true"> *</ion-text>
              </div>
            </ion-input>

            <br />

            <ion-button type="submit" fill="outline" expand="block"
              >Login</ion-button
            >

            <br />

            <ion-button
              type="button"
              fill="outline"
              color="danger"
              expand="block"
              >Forgot Password</ion-button
            >

            <!-- <ion-button
              type="button"
              fill="outline"
              color="warning"
              expand="block"
              (click)="loading1()"
              >Loading 1 <ion-spinner name="lines"></ion-spinner>
            </ion-button> -->

            <!-- <ion-button
              type="button"
              fill="outline"
              color="warning"
              expand="block"
              (click)="loading2()"
              >Loading 2</ion-button
            > -->

            <!-- <ion-button id="open-loading">Show Loading</ion-button> -->
            <ion-loading
              trigger="open-loading"
              message="Dismissing test"
            ></ion-loading>

            <!-- <ion-button
              type="button"
              fill="outline"
              color="danger"
              expand="block"
              (click)="testApi()"
              >TEST API 4
            </ion-button> -->
            <br />
            <!-- <ion-button
              type="button"
              fill="outline"
              color="danger"
              expand="block"
              (click)="openBrowser()"
            >
              Browser test
            </ion-button> -->

            <!-- <h2>{{url}}</h2> -->
          </form>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  [message]="alertMsg"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false, '')"
></ion-alert>

<!-- <ion-button href="tabs/tab1">Default</ion-button> -->
