<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add Product </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Product</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <br />

    <ion-item>
      <ion-select
        (ionChange)="categorySelected($event.target.value)"
        placeholder="Select Category"
      >
        <div slot="label">Category <ion-text color="danger">*</ion-text></div>
        @for (category of categories; track $index) {
        <ion-select-option [value]="category"
          >{{category.categoryName}}</ion-select-option
        >
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Select Sub-Category">
        <div slot="label">
          Sub-Category <ion-text color="danger">*</ion-text>
        </div>
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Select Brand">
        <div slot="label">Brand <ion-text color="danger">*</ion-text></div>
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-item>

    <br />

    <ion-button expand="block" (click)="addPhotoToGallery()">
      Select Product Images
    </ion-button>
    <br />

    <ion-content>
      <ion-grid>
        <ion-row>
          @for (photo of photoService.photos; track $index) {
          <ion-col size="6">
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-col>
          }
          <!-- <ion-col
            size="6"
            ngFor="let photo of photoService.photos; index as position"
          >
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-col> -->
        </ion-row>
      </ion-grid>

      <!-- ion-fab markup  -->
    </ion-content>

    <ion-item>
      <ion-input labelPlacement="floating" value="">
        <div slot="label">
          Product Name <ion-text color="danger"> *</ion-text>
        </div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea labelPlacement="floating" value="">
        <div slot="label">
          Product Description <ion-text color="danger">*</ion-text>
        </div>
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-textarea
        labelPlacement="floating"
        value=""
        [counter]="true"
        maxlength="20"
      >
        <div slot="label">
          Product Key Points <ion-text color="danger"> *</ion-text>
        </div>
      </ion-textarea>
    </ion-item>

    <br />

    <ion-item>
      <ion-input type="number" labelPlacement="floating" value="">
        <div slot="label">
          Price ( MRP in ₹ ) <ion-text color="danger"> *</ion-text>
        </div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" labelPlacement="floating" value="">
        <div slot="label">
          Price ( SP in ₹ ) <ion-text color="danger"> *</ion-text>
        </div>
      </ion-input>
    </ion-item>

    <br />
    <ion-button fill="outline" expand="block">Add Product</ion-button>
  </div>
</ion-content>
