<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add Product </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Product</ion-title>
    </ion-toolbar>
  </ion-header>
  <br />
  <!-- <input type="file" (change)="fileChanged($event)" />
  <button (click)="submitPic()">submit</button> -->
  <div class="ion-padding">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <br />

      <ion-item>
        <ion-select
          (ionChange)="callSubCategoryApi($event.target.value)"
          placeholder="Select Category"
          formControlName="category"
          interface="popover"
          #tempCategory
        >
          <div slot="label">Category <ion-text color="danger">*</ion-text></div>
          @for (category of categories; track $index) {
          <ion-select-option [value]="category.id"
            >{{category.categoryName}}</ion-select-option
          >
          }
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          formControlName="subCategory"
          placeholder="Select Sub-Category"
          interface="popover"
        >
          <div slot="label">
            Sub-Category <ion-text color="danger">*</ion-text>
          </div>

          @for (subCat of subCategories; track $index) {
          <ion-select-option [value]="subCat.id"
            >{{subCat.subCategoryName}}</ion-select-option
          >
          }

          <!-- <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option> -->
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          formControlName="brand"
          interface="popover"
          placeholder="Select Brand"
        >
          <div slot="label">Brand <ion-text color="danger">*</ion-text></div>

          @for (brand of brands; track $index) {
          <ion-select-option [value]="brand.id"
            >{{brand.brandName}}</ion-select-option
          >
          }

          <!-- <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option> -->
        </ion-select>
      </ion-item>
      <br />

      <ion-grid>
        <!-- test -->

        <!-- <ion-row>
          <ion-col>
            <ion-label>1st Image</ion-label>
            <br />
            <br />
            <ion-input
              type="file"
              expand="block"
              (change)="img1Add($event)"
              formControlName="productImg1"
            ></ion-input>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="photoService.selectImg_2()">
              2nd Image
            </ion-button>

            <ion-img [src]="photoService.img2.dataUrl"></ion-img>
          </ion-col>
        </ion-row> -->
        <!-- test ends -->
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="photoService.selectImg_1()">
              1st Image
            </ion-button>
            <ion-img [src]="photoService.img1.dataUrl"></ion-img>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="photoService.selectImg_2()">
              2nd Image
            </ion-button>
            <ion-img [src]="photoService.img2.dataUrl"></ion-img>
          </ion-col>
        </ion-row>
        <!-- new row -->
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="photoService.selectImg_3()">
              3rd Image
            </ion-button>
            <ion-img [src]="photoService.img3.dataUrl"></ion-img>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="photoService.selectImg_4()">
              4th Image
            </ion-button>
            <ion-img [src]="photoService.img4.dataUrl"></ion-img>
          </ion-col>
        </ion-row>
        <!-- row ends -->
      </ion-grid>

      <!-- <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-img [src]="photoService.photos.dataUrl"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-content> -->

      <ion-item>
        <ion-input
          formControlName="productName"
          labelPlacement="floating"
          value=""
        >
          <div slot="label">
            Product Name <ion-text color="danger"> *</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          formControlName="productDescription"
          labelPlacement="floating"
          value=""
        >
          <div slot="label">
            Product Description <ion-text color="danger">*</ion-text>
          </div>
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea
          labelPlacement="floating"
          formControlName="productKeyPoints"
          [counter]="true"
          maxlength="20"
        >
          <div slot="label">
            Product Key Points <ion-text color="danger"> *</ion-text>
          </div>
        </ion-textarea>
      </ion-item>

      <br />
      <ion-item>
        <ion-select
          placeholder="Select Currency"
          formControlName="currency"
          interface="popover"
          #tempCategory
        >
          <div slot="label">Currency <ion-text color="danger">*</ion-text></div>
          <ion-select-option value="INR">in INR ₹</ion-select-option>
          <ion-select-option value="USD">in USD $</ion-select-option>
        </ion-select>
      </ion-item>

      <br />

      <ion-item>
        <ion-input
          type="number"
          formControlName="mrp"
          labelPlacement="floating"
          value=""
        >
          <div slot="label">
            Price ( MRP ) <ion-text color="danger"> *</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          formControlName="sp"
          labelPlacement="floating"
          value=""
        >
          <div slot="label">
            Selling Price <ion-text color="danger"> *</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <br />
      <ion-button
        [disabled]="myForm.status === 'INVALID' "
        type="submit"
        fill="outline"
        expand="block"
        >Add Product</ion-button
      >
    </form>
  </div>
</ion-content>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  [message]="alertMsg"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false, '')"
></ion-alert>
