<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Products </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- shimmer starts -->
  <ion-list *ngIf="!loaded">
    <ion-list-header>
      <ion-skeleton-text
        [animated]="true"
        style="width: 80px"
      ></ion-skeleton-text>
    </ion-list-header>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

    <br />

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

    <br />
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- shimmer ends -->
  <div *ngIf="loaded">
    <ion-searchbar></ion-searchbar>
    <div *ngFor="let product of products">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{product.productName}}</ion-card-title>
          <ion-card-subtitle>
            <span style="text-decoration: line-through">
              {{product.currency}} {{product.productMrp}} </span
            >{{product.currency}} {{product.productSp}}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                @if (product.productImg1 !== "/uploads/demo/demoProductImg.png")
                {
                <ion-thumbnail>
                  <ion-img
                    size="auto"
                    [src]="url + product.productImg1"
                    [alt]="product.productName"
                  ></ion-img>
                </ion-thumbnail>
                } @else {
                <ion-img src="assets/img/demo.png"></ion-img>
                }
              </ion-col>
              <ion-col>
                @if (product.productImg2 !== "/uploads/demo/demoProductImg.png")
                {

                <ion-img
                  size="auto"
                  [src]="url + product.productImg2"
                  [alt]="product.productName"
                ></ion-img>
                } @else {
                <ion-thumbnail>
                  <ion-img size="auto" src="assets/img/demo.png"></ion-img>
                </ion-thumbnail>
                }
              </ion-col>
              <ion-col>
                @if (product.productImg3 !== "/uploads/demo/demoProductImg.png")
                {
                <ion-img
                  size="auto"
                  [src]="url + product.productImg3"
                  [alt]="product.productName"
                ></ion-img>
                } @else {
                <ion-thumbnail>
                  <ion-img size="auto" src="assets/img/demo.png"></ion-img>
                </ion-thumbnail>
                }
              </ion-col>
              <ion-col>
                @if (product.productImg4 !== "/uploads/demo/demoProductImg.png")
                {
                <ion-img
                  size="auto"
                  [src]="url + product.productImg4"
                  [alt]="product.productName"
                ></ion-img>
                } @else {
                <ion-thumbnail>
                  <ion-img size="auto" src="assets/img/demo.png"></ion-img>
                </ion-thumbnail>
                }
              </ion-col>
            </ion-row>
          </ion-grid>

          <br />
          <br />
          {{product.productKeyPoints}}
          <br />
          <br />
          <label
            ><b>STATUS</b> : @if (product.reviewedAndPublished === false) {
            <span style="color: yellow">UNDER-REVIEW</span>

            } @else if (product.blocked === true) {
            <span style="color: red">BLOCKED</span>
            } @else {
            <span style="color: green">PUBLISHED</span>
            }
          </label>

          <!-- STATUS : PUBLISHED -->
        </ion-card-content>

        <ion-button color="primary" fill="outline">Edit</ion-button>
        <ion-button color="warning" fill="outline">Deactivate</ion-button>
        <ion-button color="tertiary" fill="outline">Mark as Sold</ion-button>
        <!-- <ion-button color="warning" fill="outline">Deactivate</ion-button> -->
      </ion-card>
    </div>
  </div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>


<ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  [message]="alertMsg"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false, '')"
></ion-alert>